<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>derot</string>
    <key>CFBundleGetInfoString</key>
    <string>PROJECT_VERSION-REVISION_COUNT Copyright 2015 C.Y. Tan</string>
    <key>CFBundleIconFile</key>
    <string>derot.icns</string>
    <key>CFBundleIdentifier</key>
    <string>cytech.derot</string>
    <key>CFBundleDocumentTypes</key>
    <array>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>PROJECT_VERSION</string>
    <key>CFBundleSignature</key>
    <string>MyAp</string>
    <key>CFBundleVersion</key>
    <string>PROJECT_VERSION</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2015 C.Y. Tan</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.3</string>
</dict>
</plist>
